.smenu-menu-bar, .smenu-menu-bar * {
  -moz-user-select: none;
  -webkit-user-select: none
}

ul.smenu-menu-bar {
  margin:0px;
  padding:0px;
  font-size:14px;
  
  position:relative;
  background-color:white;
}

ul.smenu-menu {
  border:1px solid #ccc;
  padding:0px;
  background-color:white;
  
  position:absolute;
  left:0px;
  top:0px;
  z-index:10;
  
  display:none;
}

.smenu-menu > li {
  list-style: none;
  border-bottom:1px solid #ccc;
  padding:5px 50px 5px 10px;
  position:relative;
  min-width:100px;
}



.smenu-menu-bar > li {
  display:inline;
  border:1px solid #ccc;
  padding:5px 10px;
  margin-left:-1px;
  float:left;
}

.smenu-menu-bar li {
  cursor:pointer;
}

.smenu-menu-bar li.selected {
  background-image: -webkit-linear-gradient(#eee, #ddd); 
}

.smenu-menu-bar > ul {
  display:none;
}

.smenu-item-expander {
  position:absolute;
  right:10px;
  height:100%;
  line-height:100%;
  font-family:"Helvetica";
  font-size:20px;
  top:0px;
}

.smenu-menu-activiation-area {
  position:absolute;
  height:0px;
  width:0px;
  display:none;
}

.smenu-clear {
  clear:both;
}